<h1>Editer le personnage</h1>

<div class="page-actions">
    <%= link_to "Supprimer", member_character_path(@character), class: "button", method: :delete, data: {confirm: "Confirmer la suppression"} %>
</div>

<%= render "form", character: @character %>