#wrapper {
    position: absolute;
    top: 0;
    left: calc(50% - 480px);
}

.logo {
    text-align: center;
    height: 250px;
    padding: 50px;
}

.logo img {
    height: 100%;
}


#nav {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    z-index: 1;
}


#container {
    position: absolute;
    top: 417px;
    left: 0;
    width: 100%;
}

.sticky #nav {
    position: fixed;
    top: 0;
    left: calc(50% - 480px);
    width: 960px;
}

.section {
    line-height: 1.5;
    margin-bottom: 200px;
    clear: both;
}

.section h1 {
    font-size: 3em;
    color: #b30000;
    padding: 1em;
    text-align: center;
}

.section h2 {
    font-size: 1.5em;
    color: #b30000;
    padding: 1em 0 .5em 1em;
}

.section iframe {
    padding: 2em;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.section a {
    color: #b30000;
}

.section a:hover{
    text-decoration: underline;
}

.section p {
    padding: .3em;
}

#intro img {
    float: right;
    height: 250px;
    width: auto;
}

.section b {
    font-weight: 900;
    color: #cb8686;
}

.recruit-class {
    float: left;
    background: rgba(203, 134, 134, 0.1);
    border-radius: 25px;
    padding: .9em;
    margin: .5em;
    width: 240px;
    height: 160px;
    text-align: center;
}

.class-icon {
    display: inline-block;
    padding: 0 0.5em 1em -1em;
    vertical-align: middle;
}

.spec-icon {
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.status-open {
    color: green;
}

.status-closed {
    color: red;
}

.druid-title {
    color: #FF7D0A;
}

.hunter-title {
    color: #ABD473;
}

.mage-title {
    color: #69CCF0;
}

.priest-title {
    color: #FFFFFF;
}

.rogue-title {
    color: #FFF569;
}

.shaman-title {
    color: #0070DE;
}

.warlock-title {
    color: #9482C9;
}

.warrior-title {
    color: #C79C6E;
}