body {
    background: #712020 image-url('Onyxia_Key_Art.jpg') top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#wrapper {
    position: relative;
    min-height: 100vh;
}

#nav {
    position: fixed;
    top: 0;
    width: 200px;
    min-height: 100vh;

    background: black image-url('background.png') top center no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px black;
}

#nav ul li {
    display: block;
}

#nav ul li a {
    padding: 0;
}

#nav a:hover {
    color: rgb(130, 136, 219);
}

.member-logo {
    height: 150px;
    margin-bottom: 1em;
    img {
        max-height: 100%;
    }
}


#container {
    position: absolute;
    background: image-url('background.png');
    background-size: cover;
    width: calc(100% - 200px);
    top: 0;
    left: 200px;
    min-height: 100vh;
}


.hidden {display: none;}

h1 {
    position: relative;
    text-align: center;
    display: block;
    background: black image-url('background.png') top center no-repeat;
    background-size: cover;
    color: white;
    font-weight: 200;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    font-size: 24px;
    letter-spacing: 1px;
    box-shadow: 0 0 30px 30px rgba(87, 55, 54, 0.3), 0 0 3px black;
}


h2 {
    clear: both;
    padding-top: 2em;
    letter-spacing: 1px;
    font-size: 26px;
    &.first {
        padding-top: 0;
    }
}



#wrapper {
    margin: 0 auto;
}


#calendar thead,
#calendar tbody,
#calendar .fc-row,
#calendar .fc-head-container,
#calendar .fc-widget-content,
#calendar .fc-day-header {
    border-color: transparent;
}

#calendar td.fc-day, #calendar th {
    border: 1px solid rgba(0, 0, 0, 0.2);
}


#calendar td.fc-day, #calendar td.fc-day-top {
    background: rgba(234, 228, 216, 0.1)
}


#calendar .fc-button-primary {
    background-color: #712020;
    color: white;
    border: none;
    &:hover {
        background-color: #606c76;
    }
}


#calendar .fc-event {
    border-color: #ce612a;
    background-position: center center;
    text-shadow: 0 0 3px black;

    &.molten_core {
        background-image: image-url("ragnaros_crop.jpg");
    }

    &.onyxia {
        background-image: image-url("banner_onyxia.jpg");
    }
}




.professions-select {
    width: 300px;
}

.main-character {
    box-shadow: inset 0 0 2px 2px rgba(255,163,29,0.46);
}


.userlist-nickname, .characterlist-name {
    padding: .5em;
    font-size: 1.3em;
}

.userlist-email {
    font-style: italic;
    font-size: .8em;
}


table.dataTable {
    font-size: 0.9em;
}

table.dataTable tbody tr {
    background-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: transparent;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: rgba(255,255,255,.02);
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: transparent;
}

table.dataTable.hover tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover {
    background-color: rgba(255,255,255,.02);
}

table.dataTable thead th, table.dataTable thead td {
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: black;
}

.flatpickr-input {
    color: white;
}

.table-icon {
    width: 24px;
}

.double-table-icon {
    width: 52px;
}

.triple-table-icon {
    width: 82px;
}


th, td {
    border-bottom: 1px solid rgba(255,255,255, .1)
}

.character-show-professions .wow-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wow-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px rgba(44, 18, 21, 1);

    &.druid {
        background-image: image-url('icons/druid.png');
    }

    &.hunter {
        background-image: image-url('icons/hunter.png');
    }

    &.mage {
        background-image: image-url('icons/mage.png');
    }

    &.priest {
        background-image: image-url('icons/priest.png');
    }

    &.rogue {
        background-image: image-url('icons/rogue.png');
    }

    &.shaman {
        background-image: image-url('icons/shaman.png');
    }

    &.warlock {
        background-image: image-url('icons/warlock.png');
    }

    &.warrior {
        background-image: image-url('icons/warrior.png');
    }

    &.druid-balance {
        background-image: image-url('icons/druid_balance.jpg');
    }

    &.druid-feral {
        background-image: image-url('icons/druid_feral.jpg');
    }

    &.druid-guardian {
        background-image: image-url('icons/druid_feral.jpg');
    }

    &.druid-druidrestoration {
        background-image: image-url('icons/druid_restoration.jpg');
    }

    &.hunter-beastmastery {
        background-image: image-url('icons/hunter_beastmastery.jpg');
    }

    &.hunter-marksmanship {
        background-image: image-url('icons/hunter_marksmanship.jpg');
    }

    &.hunter-survival {
        background-image: image-url('icons/hunter_survival.jpg');
    }

    &.mage-arcane {
        background-image: image-url('icons/mage_arcane.jpg');
    }

    &.mage-fire {
        background-image: image-url('icons/mage_fire.jpg');
    }

    &.mage-frost {
        background-image: image-url('icons/mage_frost.jpg');
    }

    &.priest-discipline {
        background-image: image-url('icons/priest_discipline.jpg');
    }

    &.priest-holy {
        background-image: image-url('icons/priest_holy.jpg');
    }

    &.priest-shadow {
        background-image: image-url('icons/priest_shadow.jpg');
    }

    &.rogue-assassination {
        background-image: image-url('icons/rogue_assassination.jpg');
    }

    &.rogue-combat {
        background-image: image-url('icons/rogue_combat.jpg');
    }

    &.rogue-subtelty {
        background-image: image-url('icons/rogue_subtlety.jpg');
    }

    &.shaman-enhancement {
        background-image: image-url('icons/shaman_enhancement.jpg');
    }

    &.shaman-elemental {
        background-image: image-url('icons/shaman_elemental.jpg');
    }

    &.shaman-shamanrestoration {
        background-image: image-url('icons/shaman_restoration.jpg');
    }

    &.warlock-affliction {
        background-image: image-url('icons/warlock_affliction.jpg');
    }

    &.warlock-demonology {
        background-image: image-url('icons/warlock_demonology.jpg');
    }

    &.warlock-destruction {
        background-image: image-url('icons/warlock_destruction.jpg');
    }

    &.warrior-arms {
        background-image: image-url('icons/warrior_arms.jpg');
    }

    &.warrior-fury {
        background-image: image-url('icons/warrior_fury.jpg');
    }

    &.warrior-protection {
        background-image: image-url('icons/warrior_protection.jpg');
    }



    &.alchemy {
        background-image: image-url('icons/trade_alchemy.jpg');
    }

    &.blacksmithing {
        background-image: image-url('icons/trade_blacksmithing.jpg');
    }

    &.cooking {
        background-image: image-url('icons/trade_cooking.jpg');
    }

    &.enchanting {
        background-image: image-url('icons/trade_enchanting.jpg');
    }

    &.engineering {
        background-image: image-url('icons/trade_engineering.jpg');
    }

    &.fishing {
        background-image: image-url('icons/trade_fishing.jpg');
    }

    &.firstaid {
        background-image: image-url('icons/trade_firstaid.jpg');
    }

    &.herbalism {
        background-image: image-url('icons/trade_herbalism.jpg');
    }

    &.leatherworking {
        background-image: image-url('icons/trade_leatherworking.jpg');
    }

    &.mining {
        background-image: image-url('icons/trade_mining.jpg');
    }

    &.skinning {
        background-image: image-url('icons/trade_skinning.jpg');
    }

    &.tailoring {
        background-image: image-url('icons/trade_tailoring.jpg');
    }


}

.character-card {
    position: relative;
    display: block;
    float: left;
    width: calc(50% - 10px);
    height: 135px;
    border-radius: 10px;
    margin: 0 10px;
    margin-left: 0;
}

.character-card:hover .character-card-info {
    background: rgba(126, 21, 21, 0.5);
    color: white;
}

.character-card-crest {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &.druid {
        background-image: image-url('icons/crest_druid_crop.png');
    }
    &.hunter {
        background-image: image-url('icons/crest_hunter_crop.png');
    }
    &.mage {
        background-image: image-url('icons/crest_mage_crop.png');
    }
    &.priest {
        background-image: image-url('icons/crest_priest_crop.png');
    }
    &.rogue {
        background-image: image-url('icons/crest_rogue_crop.png');
    }
    &.shaman {
        background-image: image-url('icons/crest_shaman_crop.png');
    }
    &.warlock {
        background-image: image-url('icons/crest_warlock_crop.png');
    }
    &.warrior {
        background-image: image-url('icons/crest_warrior_crop.png');
    }
}

.character-card-info {
    position: absolute;
    background: rgba(126, 21, 21, 0.3);
    border-radius: 15px;
    padding-left: 75px;
    padding-top: 10px;
    top: 30px;
    right: 0;
    left: 70px;
    bottom: 15px;
}

.character-card-name {
    font-size: 1.25em;
}

.character-card-level {
    float: right;
    width: 40px;
    height: 40px;
    background: #712020;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-top: -5px;
    margin-right: -5px;
}

.character-card-class {
    font-size: .8em;
}

.character-show-name {
    font-size: 2em;
    text-align: center;
}

.druid {
    color: #FF7D0A;
}
.hunter {
    color: #ABD473;
}
.mage {
    color: #69CCF0;
}
.priest {
    color: #FFFFFF;
}
.rogue {
    color: #FFF569;
}
.shaman {
    color: #0070DE;
}
.warlock {
    color: #9482C9;
}
.warrior {
    color: #C79C6E;
}

.character-show-crest {
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    background-position: center center;

    &.druid {
        background-image: image-url('icons/crest_druid.png');
    }
    &.hunter {
        background-image: image-url('icons/crest_hunter.png');
    }
    &.mage {
        background-image: image-url('icons/crest_mage.png');
    }
    &.priest {
        background-image: image-url('icons/crest_priest.png');
    }
    &.rogue {
        background-image: image-url('icons/crest_rogue.png');
    }
    &.shaman {
        background-image: image-url('icons/crest_shaman.png');
    }
    &.warlock {
        background-image: image-url('icons/crest_warlock.png');
    }
    &.warrior {
        background-image: image-url('icons/crest_warrior.png');
    }
}

.character-show-class {
    position: absolute;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    left: 60px;
    text-align: center;
    padding-top: 6px;
    color: white;
    top: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    &.druid {
        border-color: #FF7D0A;
    }
    &.hunter {
        border-color: #ABD473;
    }
    &.mage {
        border-color: #69CCF0;
    }
    &.priest {
        border-color: #FFFFFF;
    }
    &.rogue {
        border-color: #FFF569;
    }
    &.shaman {
        border-color: #0070DE;
    }
    &.warlock {
        border-color: #9482C9;
    }
    &.warrior {
        border-color: #C79C6E;
    }
}

.character-show-professions {
    text-align: center;
}

.character-show-level {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #712020;
    border-radius: 50%;
    right: 60px;
    text-align: center;
    padding-top: 8px;
    color: black;
    top: 20px;
    text-shadow: 0 0 5px white;

    &.druid {
        background-color: #FF7D0A;
    }
    &.hunter {
        background-color: #ABD473;
    }
    &.mage {
        background-color: #69CCF0;
    }
    &.priest {
        background-color: #FFFFFF;
    }
    &.rogue {
        background-color: #FFF569;
    }
    &.shaman {
        background-color: #0070DE;
    }
    &.warlock {
        background-color: #9482C9;
    }
    &.warrior {
        background-color: #C79C6E;
    }
}


body .tippy-tooltip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 0;
}



.dashboard-calendar-events {
    clear: both;
    margin-left: -20px;

    .calendar-event-preview-container {
        float: left;
        width: calc(50% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;

        height: 300px;

    }
}

.calendar-event-preview-container {

    position: relative;
    text-align: left;
    font-size: 14px;
    width: 345px;
    height: 300px;
    background-size: cover;
    border-radius: 5px;
    overflow: auto;

    &.molten_core {
        background-image: image-url('ragnaros_crop.jpg');
    }

    &.onyxia {
        background-image: image-url('onyxia_crop.jpg');
    }


    .calendar-event-name {
        font-size: 1.2em;
        font-weight: bold;
        background: rgba(0,0,0,0.8);
        padding: 8px;
        height: 40px;
    }

    .calendar-event-date {
        text-shadow: 0 0 3px black, 0 0 3px black;
        background: rgba(0,0,0,0.6);
        padding: 8px;
        height: 40px;
        strong {
            font-weight: bold;
        }
        span {
            font-style: italic;
        }
    }

    .calendar-event-infos {
        background: rgba(0,0,0,0.4);
        height: 185px;
        overflow: auto;
        box-sizing: border-box;
        padding: 8px;
    }

    .calendar-event-actions {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        a {
            background: rgba(224, 109, 23, 0.8);
            display: block;
            width: 100%;
            text-align: center;
            padding: 8px;
            box-sizing: border-box;
            font-weight: bold;
            &:hover {
                background: rgba(0, 0, 0, 0.8);
                color: white;
            }
        }
    }

    ul {
        margin-top: 10px;
        list-style: none;
    }

    li {
        background: black;
        float: left;
        padding: 2px;
        border-radius: 3px;
        margin: 5px;
    }

}


.page-actions, .dataTables_filter {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 8px;

    a {
        background: rgba(113, 32, 32, 0.3);
        border: 1px solid rgba(113, 32, 32, 0.5);
    }
}

.dataTables_filter {
    right: -30px;
    top: -94px;
    transform: scale(0.8);
}

.calendar-event-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100%);
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    overflow: auto;
    text-shadow: 0 0 3px black;


    &.onyxia {
        background-image: image-url('banner_onyxia.jpg');
    }
    &.molten_core {
        background-image: image-url('banner_ragnaros.jpg');
    }
}


.your-participation {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 40px;

    .your-participation-toggle {
        text-align: center;
    }

    .your-participation-form {
        display: none;
    }

    form {
        margin-bottom: 0;
        margin-left: -10px;
        select {
            margin-left: 10px;
            width: calc(50% - 10px);
            float: left;
        }

        input[type="submit"] {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }
}


.fc-toolbar h2 {
    padding-top: 0;
    text-transform: capitalize;
}

.raid-roster {
    float: left;
    width: calc(66.66% - 20px);
    margin-right: 20px;
    margin-bottom: 40px;
}

.raid-sidelines {
    float: left;
    width: 33.33%;
    margin-bottom: 40px;
}

.role-segment {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
}

.raid-refused {
    clear: both;
}

.participation-status-links {
    display: none;
}

.tippy-content .button {
    margin: 5px;
}

.raid-position-name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    margin-left: 10px;
    margin-bottom: 5px;
}

.event-participation {
    display: inline-block;
    font-size: 0.9em;
    padding: 0 4px;
    border-radius: 4px;
    margin-right: 5px;
    background: rgba(170, 255, 255, 0.1);

    .participation-presence {
        display: inline-block;
        font-size: 0.7em;
        background: rgba(0, 0, 0, 0.3);
    }
}

.calendar-event-owner {
    font-style: italic;
}

.calendar-event-date {
    font-size: 1.2em;
    font-weight: bold;
}