body {
    background: #712020 image-url('Onyxia_Key_Art.jpg') top center no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#wrapper {
    position: relative;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#nav ul li {
    display: block;
}

#nav ul li a {
    padding: 0;
}

#nav a:hover {
    color: rgb(130, 136, 219);
}

#container {
    position: absolute;
    background: image-url('background.png');
    background-size: cover;
    background-size: fixed;
    width: calc(100% - 200px);
    top: 0;
    left: 200px;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    height: auto;
    background-color: #712020;
    border: 0.1rem solid #712020;
    padding: 6px 18px;
    line-height: 1.6;
}

.hidden {display: none;}

h1 {
    text-align: center;
    display: block;
    background: rgba(0, 0, 0, 1);
    color: white;
    font-weight: 200;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    font-size: 24px;
    letter-spacing: 1px;
    box-shadow: 0 0 30px 30px rgba(87, 55, 54, 0.3);
}


#wrapper {
    margin: 0 auto;
}


#calendar thead,
#calendar tbody,
#calendar .fc-row,
#calendar .fc-head-container,
#calendar .fc-widget-content,
#calendar .fc-day-header {
    border-color: transparent;
}

#calendar td.fc-day, #calendar th {
    border: 1px solid rgba(0, 0, 0, 0.3);
}


#calendar td.fc-day, #calendar td.fc-day-top {
    background: rgba(234, 228, 216, 0.2)
}


#calendar .fc-button-primary {
    background-color: #b30000;
    color: black;
    border: none;
}


#calendar .fc-event {
    background-color: rgba(206, 97, 42, 0.5);
    border-color: rgb(206, 97, 42);
}


.form {
    width: 600px;
    margin: 0 auto;
}

.form-group {
    min-height: 54px;
}


input.text-field, select.select, textarea {
    padding: .5em;
    border-radius: 5px;
    background-color: rgba(126, 21, 21, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

select.select option {
    background: rgba(0, 0, 0, 0.8);
}

.form-group textarea {
    min-height: 160px;
}


.professions-select {
    width: 300px;
}


.text-area {
    width: 300px;
    height: 100px;
    border-radius: 5px;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
}

.form-group label {
    float: left;
    width: 220px;
    display: block;
    padding-top: 7px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}

.form-group input, .form-group select {
    float: left;
    width: calc(100% - 220px);
}

.form-actions {
    padding-left: 220px;
}

.select2-search {
    margin: 0;
}

input.select2-search__field {
    height: 14px;
}

.select2-selection__choice {
    margin-bottom: 0;
}

.select2-container--default .select2-selection--multiple {
    background-color: rgba(126, 21, 21, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.select2-selection {
    margin-bottom: 1.5rem;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-top: 14px;
    display: block;
}


.button {
    border-radius: 5px;
    padding: .5em;
    margin: 1em 0 1em 0;
}


.userlist-nickname, .characterlist-name {
    padding: .5em;
    font-size: 1.3em;
}

.userlist-email {
    font-style: italic;
    font-size: .8em;
}


table.dataTable {
    font-size: 0.9em;
}

table.dataTable tbody tr {
    background-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: transparent;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: transparent;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: rgba(255,255,255,.02);
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: transparent;
}

table.dataTable.hover tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover {
    background-color: rgba(255,255,255,.02);
}

table.dataTable thead th, table.dataTable thead td {
    color: #f8b700;
    &:hover, &.sorting_desc, &.sorting_asc {
        color: white;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: black;
}

.flatpickr-input {
    color: white;
}

.table-icon {
    width: 24px;
}

.double-table-icon {
    width: 52px;
}

.triple-table-icon {
    width: 82px;
}


th, td {
    border-bottom: 1px solid rgba(255,255,255, .1)
}

.character-show-professions .wow-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wow-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px rgba(44, 18, 21, 1);

    &.druid {
        background-image: image-url('icons/druid.png');
    }

    &.hunter {
        background-image: image-url('icons/hunter.png');
    }

    &.mage {
        background-image: image-url('icons/mage.png');
    }

    &.priest {
        background-image: image-url('icons/priest.png');
    }

    &.rogue {
        background-image: image-url('icons/rogue.png');
    }

    &.shaman {
        background-image: image-url('icons/shaman.png');
    }

    &.warlock {
        background-image: image-url('icons/warlock.png');
    }

    &.warrior {
        background-image: image-url('icons/warrior.png');
    }

    &.druid-balance {
        background-image: image-url('icons/druid_balance.jpg');
    }

    &.druid-feral {
        background-image: image-url('icons/druid_feral.jpg');
    }

    &.druid-guardian {
        background-image: image-url('icons/druid_feral.jpg');
    }

    &.druid-restoration {
        background-image: image-url('icons/druid_restoration.jpg');
    }

    &.hunter-beastmastery {
        background-image: image-url('icons/hunter_beastmastery.jpg');
    }

    &.hunter-marksmanship {
        background-image: image-url('icons/hunter_marksmanship.jpg');
    }

    &.hunter-survival {
        background-image: image-url('icons/hunter_survival.jpg');
    }

    &.mage-arcane {
        background-image: image-url('icons/mage_arcane.jpg');
    }

    &.mage-fire {
        background-image: image-url('icons/mage_fire.jpg');
    }

    &.mage-frost {
        background-image: image-url('icons/mage_frost.jpg');
    }

    &.priest-discipline {
        background-image: image-url('icons/priest_discipline.jpg');
    }

    &.priest-holy {
        background-image: image-url('icons/priest_holy.jpg');
    }

    &.priest-shadow {
        background-image: image-url('icons/priest_shadow.jpg');
    }

    &.rogue-assassination {
        background-image: image-url('icons/rogue_assassination.jpg');
    }

    &.rogue-combat {
        background-image: image-url('icons/rogue_combat.jpg');
    }

    &.rogue-subtlety {
        background-image: image-url('icons/rogue_subtlety.jpg');
    }

    &.shaman-enhancement {
        background-image: image-url('icons/shaman_enhancement.jpg');
    }

    &.shaman-elemental {
        background-image: image-url('icons/shaman_elemental.jpg');
    }

    &.shaman-restoration {
        background-image: image-url('icons/shaman_restoration.jpg');
    }

    &.warlock-affliction {
        background-image: image-url('icons/warlock_affliction.jpg');
    }

    &.warlock-demonology {
        background-image: image-url('icons/warlock_demonology.jpg');
    }

    &.warlock-destruction {
        background-image: image-url('icons/warlock_destruction.jpg');
    }

    &.warrior-arms {
        background-image: image-url('icons/warrior_arms.jpg');
    }

    &.warrior-fury {
        background-image: image-url('icons/warrior_fury.jpg');
    }

    &.warrior-protection {
        background-image: image-url('icons/warrior_protection.jpg');
    }



    &.alchemy {
        background-image: image-url('icons/trade_alchemy.jpg');
    }

    &.blacksmithing {
        background-image: image-url('icons/trade_blacksmithing.jpg');
    }

    &.cooking {
        background-image: image-url('icons/trade_cooking.jpg');
    }

    &.enchanting {
        background-image: image-url('icons/trade_enchanting.jpg');
    }

    &.engineering {
        background-image: image-url('icons/trade_engineering.jpg');
    }

    &.fishing {
        background-image: image-url('icons/trade_fishing.jpg');
    }

    &.firstaid {
        background-image: image-url('icons/trade_firstaid.jpg');
    }

    &.herbalism {
        background-image: image-url('icons/trade_herbalism.jpg');
    }

    &.leatherworking {
        background-image: image-url('icons/trade_leatherworking.jpg');
    }

    &.mining {
        background-image: image-url('icons/trade_mining.jpg');
    }

    &.skinning {
        background-image: image-url('icons/trade_skinning.jpg');
    }

    &.tailoring {
        background-image: image-url('icons/trade_tailoring.jpg');
    }


}

.character-card {
    position: relative;
    display: block;
    float: left;
    width: calc(50% - 10px);
    height: 135px;
    border-radius: 10px;
    margin: 0 10px;
    margin-left: 0;
}

.character-card:hover .character-card-info {
    box-shadow: 0 0 10px 10px rgba(123, 126, 212, 0.1), inset 0 0 2px 2px rgba(123, 126, 212, 0.2);
    background: rgba(126, 21, 21, 0.5);
    color: white;
}

.character-card-crest {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &.druid {
        background-image: image-url('icons/crest_druid_crop.png');
    }
    &.hunter {
        background-image: image-url('icons/crest_hunter_crop.png');
    }
    &.mage {
        background-image: image-url('icons/crest_mage_crop.png');
    }
    &.priest {
        background-image: image-url('icons/crest_priest_crop.png');
    }
    &.rogue {
        background-image: image-url('icons/crest_rogue_crop.png');
    }
    &.shaman {
        background-image: image-url('icons/crest_shaman_crop.png');
    }
    &.warlock {
        background-image: image-url('icons/crest_warlock_crop.png');
    }
    &.warrior {
        background-image: image-url('icons/crest_warrior_crop.png');
    }
}

.character-card-info {
    position: absolute;
    background: rgba(126, 21, 21, 0.3);
    border-radius: 15px;
    padding-left: 75px;
    padding-top: 10px;
    top: 30px;
    right: 0;
    left: 70px;
    bottom: 15px;
}

.character-card-name {
    font-size: 1.25em;
}

.character-card-level {
    float: right;
    width: 40px;
    height: 40px;
    background: #712020;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-top: -5px;
    margin-right: -5px;
}

.character-card-class {
    font-size: .8em;
}

.character-show-name {
    font-size: 2em;
    text-align: center;

    &.druid {
        color: #FF7D0A;
    }
    &.hunter {
        color: #ABD473;
    }
    &.mage {
        color: #69CCF0;
    }
    &.priest {
        color: #FFFFFF;
    }
    &.rogue {
        color: #FFF569;
    }
    &.shaman {
        color: #0070DE;
    }
    &.warlock {
        color: #9482C9;
    }
    &.warrior {
        color: #C79C6E;
    }
}

.character-show-crest {
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    margin-left: 250px;

    &.druid {
        background-image: image-url('icons/crest_druid.png');
    }
    &.hunter {
        background-image: image-url('icons/crest_hunter.png');
    }
    &.mage {
        background-image: image-url('icons/crest_mage.png');
    }
    &.priest {
        background-image: image-url('icons/crest_priest.png');
    }
    &.rogue {
        background-image: image-url('icons/crest_rogue.png');
    }
    &.shaman {
        background-image: image-url('icons/crest_shaman.png');
    }
    &.warlock {
        background-image: image-url('icons/crest_warlock.png');
    }
    &.warrior {
        background-image: image-url('icons/crest_warrior.png');
    }
}

.character-show-class {
    text-align: center;
    font-size: 1.25em;
}

.character-show-professions {
    text-align: center;
}

.character-show-level {
    width: 40px;
    height: 40px;
    background: #712020;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: auto;
}


body .tippy-tooltip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.calendar-event-preview-container {
    text-align: left;
    font-size: 14px;
    width: 300px;
    height: 350px;
    background-size: cover;

    &.molten_core {
        background-image: image-url('ragnaros_crop.jpg');
    }

    &.onyxia {
        background-image: image-url('onyxia_crop.jpg');
    }
}

.calendar-event-name {
    font-size: 2em;
}

.calendar-event-date {
    font-style: italic;
}

.calendar-event-owner {
    font-style: italic;
    font-size: .8em;
    padding-bottom: 15px;
}

.participants h2 {
    font-size: 2em;
    text-align: center;
}

