#wrapper {
    margin: 0 auto;
}


#calendar thead,
#calendar tbody,
#calendar .fc-row,
#calendar .fc-head-container,
#calendar .fc-widget-content,
#calendar .fc-day-header {
    border-color: transparent;
}

#calendar td.fc-day, #calendar th {
    border: 1px solid rgba(0, 0, 0, 0.3);
}


#calendar td.fc-day, #calendar td.fc-day-top {
    background: image-url('calendar_cell.png');
    background-size: cover;
}


#calendar .fc-button-primary {
    background-color: #b30000;
    color: black;
    border: none;
}


#calendar .fc-event {
    background-color: rgba(206, 97, 42, 0.5);
    border-color: rgb(206, 97, 42);
}

.text-field {
    padding: .5em;
    margin: 1em 0 0 0;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    padding: .5em;
    margin: 1em 0 1em 0;
}

.select {
    margin: 1em 0 0 0;
}

.userlist-nickname, .characterlist-name {
    padding: .5em;
    font-size: 1.3em;
}

.userlist-email {
    font-style: italic;
    font-size: .8em;
}



table.dataTable tbody tr {
    background-color: transparent;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: rgba(43, 11, 11, 0.3)
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: rgba(43, 11, 11, 0.3)
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: rgba(43, 11, 11, 0.3)
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: white;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: rgba(43, 11, 11, 0.3)
}