html {
    height: 100%;
}

body {
    background: linear-gradient(#1f1818, #831515);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


#wrapper {
    width: 960px;
}


#nav {
    color: #ecdcdc;
    padding: 1em;
    box-sizing: border-box;
    background-color: black;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: pointer;
    text-align: center;
    font-family: 'Manjari', sans-serif;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a.active {
    background-color: #b30000;
    color: black;
    box-shadow: none;
}


#container {
    background: rgba(51, 0, 0, .75);
    color: #ecdcdc;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding: 2em;
    box-sizing: border-box;
}