<h1>Dashboard</h1>

<div class="page-actions">
    <%= link_to "Nouveau personnage", new_member_character_path, class: "button" %>
</div>

<h2 class="first">Vos personnages</h2>

<% if current_user.has_character? %>
    Vous n'avez pas encore de personnage ! Créez en un pour pouvoir participer
<% end %>

<div>
    <%= render current_user.characters %>
</div>


<h2>Evenements à venir</h2>
<div class="dashboard-calendar-events">
    <%= render @calendar_events %>
</div>
