<h1>Dashboard</h1>

<h2>Vos personnages</h2>

<div>
    <%= link_to "Nouveau personnage", new_member_character_path, class: "button" %>
</div>

<div>
    <%= render current_user.characters %>
</div>

