<h1>Dashboard</h1>

<div class="page-actions">
    <%= link_to "Nouveau personnage", new_member_character_path, class: "button" %>
</div>

<% unless current_user.member? %>
    <div class="not-member">
        <strong>Vous n'êtes pas encore membre !</strong><br>
        Demandez à un officier de vous passer membre pour avoir accès au reste du site.
    </div>
<% end %>

<h2 class="first">Vos personnages</h2>

<% if current_user.has_character? %>
    Vous n'avez pas encore de personnage ! Créez en un pour pouvoir participer
<% end %>

<div>
    <%= render current_user.characters %>
</div>


<% if current_user.member? %>
    <h2>Evenements à venir</h2>
    <div class="dashboard-calendar-events">
        <%= render @calendar_events %>
    </div>
<% end %>