<p>A partir du 23/09/19 la guilde Stones met en place le système de points DKP (Dragon Kill Points).<br/>
Avec un solde unique de départ d’une valeur de 200 points DKP.</p>

<p>Si le principe est simple, la mise en place de ce système est perfectible, mais dans un but d’équité, il nous faut utiliser un système d’attribution des loots.
+1 dans le raid est égal à la spécialisation principale, il sera toujours prioritaire sur le +2 considéré comme une spécialisation secondaire.</p>

