<h1>Membres</h1>


<table id="users" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Nickname</th>
            <th>Rang</th>
            <th>Personnages</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.nickname, member_user_path(user.id) %></td>
                <td><%= t "ranks." + user.rank %></td>
                <td>
                  <% user.characters.each do |character| %>
                    <%= link_to character.name + "#{"*" if character.main}", member_character_path(character), class: character.playable_class %>
                  <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
