<h1><%= @user.nickname %></h1>

<% if current_user.can_edit_user? @user %>
    <div class="page-actions">
        <%= link_to "Editer", edit_member_user_path(@user.id), class: "button" %>
        <%= link_to "Supprimer", member_user_path(@user), class: "button", method: :delete %>
    </div>
<% end %>

<h2>Personnages</h2>
<%= render @user.characters %>